@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Glagolitic&display=swap");
@import url('/header/header.css');
@import url('/footer/footer.css');

html {
    /* background-image: radial-gradient(circle, rgb(72, 72, 72), #0d0d0dd9); */
    background-color: rgb(55, 55, 55);
    background-size: cover;
    /* Ensures the gradient covers the entire viewport */
}

body {
    padding-bottom: 2px;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px;
}

.page-title {
    font-size: var(--biggerFont);
    color: white;
    padding-bottom: 5px;
}

:root {
    /* main colors */
    --primaryFirst: #40daf9;
    --primarySecond: #29A1D8;
    --primaryThird: #4b8fc7fe;

    /* accent colors */
    --accentFirst: #a943d5;
    --accentSecond: #ce78cb;
    --accentThird: #dfa2db;
    --myPurple: #8c84c9;

    /* Text colors */
    --lightText: #ebebeb;
    --mediumText: #c3bec5;
    --darkText: #aca092;

    /* basics */
    --white: #ffffff;
    --black: #000000;
    --backgroundOne: #303031d9;
    --backgroundTwo: #18181a;

    /* font sizes */
    --tinyFont: 11px;
    --smallFont: 16px;
    --mediumFont: 21px;
    --bigFont: clamp(20px, 8vw, 38px);
    --biggerFont: clamp(20px, 8vw, 53px);
    --hugeFont: clamp(40px, 8vw, 70px);

    /* font families imported */
    --titleFont: "Bodoni Moda SC", serif;
    --headerFont: "Bitter", serif;
    --backupFont: "Cabin", sans-serif;
    --standardFont: "Noto Sans Glagolitic", sans-serif;
}