body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #23092d;
    /* Discord's color */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    margin-left: 20px;
    font-size: 18px;
}

.menu-link {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit color from parent (assuming it's white) */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    /* Add any other styles to match the appearance of other menu items */
}