@import url('/header/header.css');
@import url('/global.css');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(to bottom, var(--backgroundOne), var(--backgroundTwo));
    color: #ffffff;
    overflow: hidden;
    padding-left: 200px;
    padding-right: 200px;
    /* Prevent scrolling */
}

.description-container {
    flex: 2;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.monkey-photo {
    flex: 1;
    display: flex;
    /* Make .monkey-photo a flex container */
    align-items: center;
    /* Center vertically */
    justify-content: start;
    /* Center horizontally */
}

.name-description {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: var(--hugeFont);
    margin-bottom: 50px;
}

.job-description {
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: start;
    font-size: var(--bigFont);
    margin-bottom: 50px;
}

.summary-description {
    display: flex;
    align-items: start;
    margin-left: 15px;
    justify-content: center;
    font-size: var(--mediumFont);
}

#glow {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    /* Ensure the overlay doesn't block mouse events */
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* Ensure it's above other content */
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
    /* Adjust opacity and gradient as needed */
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
    /* Smooth transitions */
    opacity: 0;
    /* Start hidden */
}