.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, var(--accentSecond), var(--primaryThird));
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 5px;
}

.footer-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.footer-icon {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.footer-text {
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.footer-line {
    height: 1px;
    background-color: white;
}

.footer-line-left,
.footer-line-right {
    flex: 1;
    height: 1px;
}

.footer-line-left {
    margin-right: 10px;
}

.footer-line-right {
    margin-left: 10px;
}

/* .ticker-tape-container {
    overflow-x: hidden;
    display: flex;
} */
/* 
.ticker-tape {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    gap: 8rem;
    text-transform: uppercase;
    white-space: nowrap;
    animation-name: marquee;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
} */

@keyframes marquee {
    0% {
        /* Adjust this when it you add sentences!!!!! */
        transform: translateX(3%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* .ticker-tape {
    animation-name: marquee;
    animation-duration: 250s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: normal;
} */