/* Import the header styling into this file */
@import url('/global.css');


body {
    height: 100vh;
    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding-top: 60px;
    height: calc(100% - 60px);
}

.about-description {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    font-size: 16px;
    font-family: var(--standardFont);
    color: var(--mediumText);
    max-width: 3450px;
    align-items: center;
}

.descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}



.photo-grid {
    /* display: flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 50%;
    gap: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.photo-grid img {
    display: block;
    margin: 0 auto;
}

.standard-image {
    border-radius: 20px 20px 20px 20px;
    height: 320px;
    padding-left: 5px;
    padding-right: 5px;
}

.headshot-image {
    border-radius: 20px 20px 20px 20px;
    height: 320px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
}

.project-title {
    margin: 0;
    text-align: left;
    font-size: 32px;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
}