.header {
    background: linear-gradient(to right, var(--primaryThird), var(--accentSecond));
    color: var(--lightText);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}

.header-content {
    max-width: 1570px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-container {
    margin-right: 20px;
}

.logo {
    height: 40px;
    width: 40px;
}

.logo:hover {
    transform: scale(1.03);
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.image-item {
    display: inline-flex;
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.image-item:hover {
    transform: scale(1.03);
}

.svg-mask {
    width: 100%;
    height: 100%;
    background-color: white;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

.image-item:hover .svg-mask {
    background-color: #40daf9;
}

.linkedin-icon {
    mask: url('/assets/images/linkedin.svg') no-repeat center / contain;
    -webkit-mask: url('/assets/images/linkedin.svg') no-repeat center / contain;
}

.github-icon {
    mask: url('/assets/images/github-mark/github-mark.svg') no-repeat center / contain;
    -webkit-mask: url('/assets/images/github-mark/github-mark.svg') no-repeat center / contain;
}

.instagram-icon {
    mask: url('/assets/images/Instagram_Glyph_White.svg') no-repeat center / contain;
    -webkit-mask: url('/assets/images/Instagram_Glyph_White.svg') no-repeat center / contain;
}

/*
.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
*/

/* .menu-item {
    margin-left: 20px;
    font-size: 18px;
    transition: transform 0.15s ease, color 0.15s ease;
} */

/* .menu-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.3s ease;
} */

/* .menu-item:hover {
    transform: scale(1.01);
} */

/* .menu-link:hover {
    color: var(--primaryFirst);
} */