body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 60px;
    /* Space for the fixed header */
}

.header {
    background: linear-gradient(to right, var(--primaryThird), var(--accentSecond));
    /* background-color: var(--primaryThird); */
    color: var(--lightText);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    /* Prevent the logo container from shrinking */
}

.logo {
    font-size: 24px;
    margin-right: 20px;
    /* Space between logo and social icons */
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.image-item {
    display: inline-flex;
    width: 24px;
    /* Icon width */
    height: 24px;
    /* Icon height */
    margin-left: 10px;
    margin-right: 5px;
    /* Space between icons */
    transition: transform 0.3s ease;
}

.image-item:hover {
    transform: scale(1.02);
}

.svg-mask {
    width: 100%;
    height: 100%;
    background-color: var(--svg-fill-color, var(--lightText));
    /* Default fill color */
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

.image-item:hover .svg-mask {
    background-color: var(--svg-hover-color, var(--accentThird));
    /* Hover fill color */
}

.linkedin-icon {
    mask: url('/assets/images/linkedin.svg') no-repeat center / contain;
    -webkit-mask: url('/assets/images/linkedin.svg') no-repeat center / contain;
}

.github-icon {
    mask: url('/assets/images/github-mark/github-mark.svg') no-repeat center / contain;
    -webkit-mask: url('/assets/images/github-mark/github-mark.svg') no-repeat center / contain;
}

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    /* Allows the menu to take up remaining space */
    justify-content: flex-end;
    /* Align menu items to the right */
}

.menu-item {
    margin-left: 20px;
    font-size: 18px;
    transition: transform 0.15s ease, color 0.15s ease;
    /* Add transition effects */
}

.menu-link {
    text-decoration: none;
    color: inherit;
    /* Inherit color from parent (default white) */
    cursor: pointer;
    transition: color 0.3s ease;
    /* Add color transition */
}

.menu-item:hover {
    transform: scale(1.01);
    /* Slightly enlarge on hover */
}

.menu-link:hover {
    color: var(--primaryFirst);
    /* Change color on hover */
}